.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
  background: var(--ifm-color-gray-100);
}

:global([data-theme="dark"]) .features {
  background: var(--ifm-background-color);
}

.row {
  justify-content: space-around;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 480px) {
  .features {
    padding: 2rem 0;
  }
}
