/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.topBanner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1em;
}

.topBannerTitle {
  font-size: 1.5rem;
  padding-inline: 1em;
}

.topBannerSponsors {
  display: flex;
  align-items: center;
  gap: 3em;
  margin-top: 1em;
}

.topBannerSponsor {
  height: 88px;
  background: white;
  padding: 8px;
}

@media screen and (max-width: 996px) {
  .topBannerSponsors {
    flex-direction: column;
    gap: 1em;
  }
}

/* HERO */

.heroBanner {
  padding: 4rem;
  background: var(--ifm-hero-background-color);
}

.heroBannerContainer {
  max-width: 1000px;
  margin: 0 auto;
  /* padding-right: 200px; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  padding-block: 1em;
}

.heroContent {
  flex: 1;
  display: flex;
  /* align-items: center; */
  gap: 80px;
  /* padding-right: 200px; */
  margin-bottom: 2em;
}

.heroTitle {
  flex: 1;
  font-size: 3rem;
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  color: var(--ifm-color-primary-contrast-foreground);
  word-break: break-word;
}

.heroTitle b {
  font-weight: var(--ifm-color-primary-contrast-background);
  /* background: var(--blue-700); */
  padding-inline: 0.1em;
  /* color: #fcfcfc; */
  color: var(--primary-500);
}

.heroImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroCTA {
  text-align: left;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.heroButtons {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.spacer {
  flex: 1;
  background: blue;
  width: 10px;
}

.heroButtons .button {
  width: 100%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.users {
  padding: 4rem;
  background: var(--ifm-color-gray-100);
  display: flex;
  justify-content: center;
}

.users h2 {
  text-align: center;
  color: var(--ifm-color-primary-contrast-foreground);
}

.userList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 3em;
  margin-block: 4em;
}

.userList img {
  max-height: 100px;
  max-width: 300px;
}
